
<footer id="main-footer">
   
    <h3>Follow us</h3> 
    <div class="grid-container-footer">
        <div class="grid-item-footer">

    <a href="#" class="fa fa-facebook"></a>
</div>
<div class="grid-item-footer">
    <a href="#" class="fa fa-twitter"></a>
</div>
<div class="grid-item-footer">
    <a href="#" class="fa fa-instagram"></a>
</div>
</div>
    <p>Copyright © Fall 2021, Nima Khatamsazan , WEB322 ZAA
    </p>
   
</footer>
</html>
</div>
