    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="logo"><img src="/images/canadaEats.png"  alt="goodFood" width="120" ></div>
    <header> <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">On the Menu</a></li>

      
         {{#if user}}
        <li><a href="/logout">Log out</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signUp">Sign Up</a></li>
         {{/if}}

      </ul></nav></header>
<hr>

    <title>CanadaEats :: Best Delivery
    </title>
    <link rel="stylesheet" href="/index.css">

</head>