<!DOCTYPE html>
<div class="box">
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="logo"><img src="/images/canadaEats.png"  alt="goodFood" width="120" ></div>
    <header> <nav><ul>
        <li><a href="/menu">On the Menu</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signUp">Sign Up</a></li>

      </ul></nav></header>
<hr>

    <title>CanadaEats :: Best Delivery
    </title>
    <link rel="stylesheet" href="/index.css">

</head>
<div class= "box-1">
<body>
    <h1>Enjoy Your Meal!
    </h1><br>
</div>
   

    <div class="grid-container-0">
</h1><br>
<div class= "grid-item-0">
<img id="burger" src="/images/burger.jpg" alt="hambergur" width="400" height="300"></div>

<div class="grid-item-0">
<img id= "pizza" src="/images/pizza.jpg" alt="pizza" width="400" height="300">
</div>
</div>
<h2>Canada Eats Provide Cheapest & Helthiest Foods For You</h2>

<button id="button">Order Now!</button>


<div class="works">
    <br>
    <hr>
    <p>It is your Turn</p>
</div>


<div class="grid-container">

<div class="grid-item"><img src="/images/choosing.jpg" alt="choosing" width="150">

    <p>
Choosing your meal from different types of food        </p></div>
    <div class="grid-item"><img src="/images/cheapest.jpg" alt="choosing" width="150">

        <p>
    Get the cheapest options in your area    </p></div>
    <div class="grid-item"><img src="/images/review.jpg" alt="choosing" width="200" height="150">

        <p>
    Knowing reviews of other people on your selected restaurant is your piority    </p></div>
    <div class="grid-item"><img src="/images/finalize.jpg" alt="choosing" width="200" height="150">

        <p>
    Finalize your request    </p></div>
</div>

<div class="clr"></div>
<hr>
<div class="Top-meals">
    <p><strong>What Are The Top Meals?</strong> </p>
</div>

</body>
<div class="clr"></div>
<div class="grid-container-2">
    <div class="grid-item-2"><p>
        <img src="/images/pizzaPeperoni.jpg" alt="PizzaPeperoni" width="200" height="130">
    <p>
       <strong>Pizza Peperoni<br></strong> 
<button id="main-menu">13$ </button>  </p></div>
    <div class="grid-item-2"><p>
        <img src="/images/KingBurger.jpg" alt="kingBurger" width="200" height="150">
        <strong>King Burger<br></strong>
        <button id="main-menu">8$ </button>  </p></div>
    <div class="grid-item-2"><p>
        <img src="/images/ChickenBurger.jpg" alt="ChickenBurger" width="200" height="150">
        <strong>Chicken Burger</strong>
        <button id="main-menu">7$ </button>  </p></div>
    
  </div>
<br>
<br>
<br>
<br>
<br>

<footer id="main-footer">
   
    <h3>Follow us</h3> 
    <div class="grid-container-footer">
        <div class="grid-item-footer">

    <a href="#" class="fa fa-facebook"></a>
</div>
<div class="grid-item-footer">
    <a href="#" class="fa fa-twitter"></a>
</div>
<div class="grid-item-footer">
    <a href="#" class="fa fa-instagram"></a>
</div>
</div>
    <p>Copyright © Fall 2021, Nima Khatamsazan , WEB322 ZAA
    </p>
</footer>
</html>
</div>