
{{>headers}}
<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="/login.css">

</head>
<body>
<div id="h2">
<h2>Login Form</h2>
</body></div>
<form action="/login" method="post">
  <div class="imgcontainer">
    <img src="images/img_avatar2.png" alt="Avatar" class="avatar" width="100">
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" value= {{values.email}} >
 {{#if validation.email}}
<span style= "color: red;">{{validation.email}}</span><br/>
{{/if}}
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" value= {{values.psw}} >
      {{#if validation.password}}
<span style= "color: red;">{{validation.password}}</span><br/>
{{/if}}  
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><a href="/">cancel</a></button>
    <span class="psw">Forgot <a href="/">password?</a></span>
  </div>
</form>

</body>
</html>

{{>footer}}