
{{>headers}}
<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="/login.css">

</head>
<body>
<div id="h2">
<h2>Load meal</h2>
</body></div>
  <div class="imgcontainer">
    <br />
    <br />
 
<span style= "color: grey; font-weight: bold;">{{message}}</span><br/>






</body>
</html>

{{>footer}}